{% extends 'base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <p class="page-title"> LSTM : Sales Predictions</p> 
                    <div class="row">
                        <div>
                            <div class="card flex-fill student-space comman-shadow">
                                <div class="card-header d-flex align-items-center">
                                </div>
                                <div class="card-body">
                                    <div class="char-responsive">
                                        <div id="LSTMchart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}